.products{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;

}

.product{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width:300px;
    gap:5px;
   border: 2px white solid ;
padding: 20px;
   
    border-radius: 20px;
}

h1{
    text-align: center;
}

.image{
    height:100px;
    width:100px;
}

body{
    background-color: rgb(169, 63, 63);
    color:white;
}